<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/image/css/styles.css">
</head>
<body>
    <img src="/image/Screenshot.jpg" alt="">
      
    <h1>Helllooooooo Jiagarn</h1>
    <a href="/page2?search_query=JiagarnUruphongpisarn">Go to page 2</a>
    <a href="/product?limit=10&page=1">Go to product</a>
    
</body>
</html>